@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./NotoSansSC-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Geist[wght].woff2') format('truetype');
}